version: "3.9"

services:
  backend:
    build:
      context: ./Backend
    container_name: bookskyy-backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
    restart: always

  frontend:
    build:
      context: ./Bookskyy
    container_name: bookskyy-frontend
    ports:
      - "3000:8092"
    depends_on:
      - backend
    restart: always
