node_modules
.git
.env
dist
npm-debug.log
bun.lockb
.eslintrc.cjs
.eslintignore
README.md
postcss.config.js
tailwind.config.ts
tsconfig.json
tsconfig.node.json
tsconfig.app.json
vite.config.ts
components.json